<div class="w-full">
    <div class="w-max-50 flex justify-center">
        <mat-tab-group>
            <mat-tab label="Buena Practica">
                <div class="h-80 overflow-y-auto border border-gray-300 rounded-lg p-2 mat-elevation-z6">
                    <app-resume-table [Id]="id"></app-resume-table>
                </div>

                 <!-- Botón Realizar Evolución -->
                 <div class="mt-4 flex justify-end">
                    <button mat-raised-button class="yellow-color space-buttons custom-border bg-blue-800 p-2 borde-none text-white" (click)="openModal()">Evolucionar</button>

                    <button mat-raised-button color="primary" class="send space-buttons custom-border bg-blue-800 p-2 borde-none text-white" (click)="performEvolution()">
                      Realizar Evolución
                    </button>
                  </div>                  

                <div class="my-4">
                    <mat-divider></mat-divider>
                    <h1 class="divider-text">Programar Auditoria</h1>
                </div>
                <div class="p-4 bg-white rounded-lg mat-elevation-z4">
                    <app-email-audit [identityId]="id"></app-email-audit>
                </div>
            </mat-tab>
            <mat-tab label="Auditorias"> 
                <app-audit></app-audit>
            </mat-tab>
        </mat-tab-group>
    </div>  
</div>
