body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end   ;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #24197A;
}

.fuse-vertical-navigation-item {
    transition: background-color 0.3s ease-in-out !important;
    color: white !important;
    border-radius: 15px !important;
    margin-top: 2px;
}

.fuse-vertical-navigation-item:hover {
    background-color: white !important;
    color: #2D3480 !important;
}

.modal-questionnarie {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: #2D3580;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: border-radius 0.3s ease;
}

.large-icon{
    font-size: 46px;
    width: 45px;
    height: 45px;
    color: white;
}

.internos{
    color: #2D3580 !important;
}

.custom-menu{
    border-radius: 20px 20px 0px 20px !important;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}
  
  .question h3 {
    margin-bottom: 10px;
  }
  
  .question label {
    display: block;
    margin-bottom: 5px;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .navigation button {
    margin-right: 30px;
  }

  .progress-indicator {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir que los cuadritos se envuelvan en varias líneas */
  }
  
  .progress-step {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  .progress-step.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .progress-step.answered {
    background-color: #28a745; /* Color para preguntas respondidas */
    color: white;
    border-color: #28a745;
  }

  .yellow-color {
    background-color: #F0BA41 !important;
    color: white!important;
    border-radius: 21px !important;
    font-size: 13px;
  }

  .border-buttons {
    border-radius: 21px !important;
    color: white !important;
    transition: all 0.3s ease-in-out;
  }

  .btn-enviar {
    background-color: #4f46e5 !important; /* Azul */
  }

  .btn-enviar:hover {
      background-color: #4338ca !important; /* Azul más oscuro */
  }

  .btn-desestimar {
      background-color: #D63421 !important; /* Rojo */
  }

  .btn-desestimar:hover {
      background-color: #b72b1a !important; /* Rojo más oscuro */
  }

  .border-buttons:hover {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4); // Sombra más fuerte al pasar el mouse
    transform: translateY(0px); // Efecto de elevación
  }

  .custom-icon {
    color: black !important; /* O usa otro color oscuro */
    font-weight: bold; /* Esto solo funciona si el SVG lo permite */
  }
  
  .bg-class{
    background-color: rgba(245,243,255,255) !important;
  }