                               
<div class="file-upload-container overflow-y-auto md:max-h-9h">
    <div class="upload-header">
        <i class="upload-header-icon">☁️</i>
        <div class="upload-header-text">
            <h3>{{CodeAudit}} Archivos relacionados</h3>
        </div>
    </div> 
    @if (dataFiles.length === 0) {
        <p>No hay archivos aun.</p>
    } @else {
        <div class="max-w-3x sm:max-h-[250px] md:max-h-[300px] lg:max-h-full overflow-y-auto">
            <app-generic-table [data]="dataFiles" [columns]="columns" [buttons]="buttons"></app-generic-table>
        </div>
    }
</div>