<h2 mat-dialog-title>Busqueda Avanzada</h2>
<mat-dialog-content>
  <form [formGroup]="advancedSearchForm">
    <div class="row">

      <div class="flex">
        <mat-form-field class="flex-auto" appearance="fill">
          <mat-label>Fecha de Diligenciamiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaDiligenciamiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field class="flex-auto" appearance="fill">
          <mat-label>Nombre de la Entidad</mat-label>
          <input matInput formControlName="nombreEntidad">
        </mat-form-field>
      </div>
    </div>

    <div class="flex">
      <mat-form-field class="flex-auto" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="flex-auto" appearance="fill">
        <mat-label>Tipo de Estrategia de Identificación</mat-label>
        <input matInput formControlName="tipoEstrategiaIdentificacion">
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field class="flex-auto" appearance="fill">
        <mat-label>Tipo de Práctica</mat-label>
        <input matInput formControlName="tipoPractica">
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="flex-auto" appearance="fill">
        <mat-label>Código de Práctica</mat-label>
        <input matInput formControlName="codigoPractica">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
  <button mat-button mat-raised-button color="primary" (click)="applySearch()">Aplicar búsqueda</button>
  <button mat-button mat-raised-button (click)="refresh()" style="background-color: #f0ba40; color: white;">Eliminar búsqueda</button>
</mat-dialog-actions>