<h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>Busqueda Avanzada</h2>
<mat-dialog-content>
    <div class="p-1">
        <form [formGroup]="advancedSearchForm">
          <div>
            <mat-form-field class="w-full mb-0 py-1">
              <mat-label>Fecha de Diligenciamiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaDiligenciamiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- Grid para las demás casillas -->
          <div class="grid grid-cols-2 gap-x-3 gap-y-1">
            <mat-form-field class="w-full">
              <mat-label>Nombre de la Entidad</mat-label>
              <input matInput formControlName="nombreEntidad">
            </mat-form-field>
      
            <mat-form-field class="w-full">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
      
            <mat-form-field class="w-full">
              <mat-label>Tipo de Estrategia de Identificación</mat-label>
              <input matInput formControlName="tipoEstrategiaIdentificacion">
            </mat-form-field>
      
            <mat-form-field class="w-full">
              <mat-label>Tipo de Práctica</mat-label>
              <input matInput formControlName="tipoPractica">
            </mat-form-field>
      
            <mat-form-field class="w-full">
              <mat-label>Código de Práctica</mat-label>
              <input matInput formControlName="codigoPractica">
            </mat-form-field>
          </div>
        </form>
      </div>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-center space-x-4">
    <button mat-raised-button class="bg-red-500 hover:bg-red-600 text-white" (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" mat-button (click)="applySearch()">Aplicar búsqueda</button>
  </mat-dialog-actions>