<div class="min-w-0 flex-1">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="mt-2">
            <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                {{ isEdit ? 'Editar Hoja' : 'Hoja de Vida' }}
            </h2>
        </div>
        <!-- Barra de progreso personalizada -->
        <div class="progress-container">
            <span class="progress-text">{{ progress }}%</span>
            <div class="progress-bar" [style.width.%]="progress" [ngClass]="progressColor"></div>

        </div>


        <!-- <form [formGroup]="horizontalStepperForm.get('newFields')" class="filters-form" style="display: flex; gap: 16px;">
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Nombre de la práctica</mat-label>
            <input matInput formControlName="nombrePractica" />
            <mat-error *ngIf="horizontalStepperForm.get('newFields.nombrePractica')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
 
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Identificación</mat-label>
            <mat-select formControlName="identificacion">
                <mat-option value="opcion1">Opción 1</mat-option>
                <mat-option value="opcion2">Opción 2</mat-option>
                <mat-option value="opcion3">Opción 3</mat-option>
            </mat-select>
            <mat-error *ngIf="horizontalStepperForm.get('newFields.identificacion')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
 
        <mat-form-field appearance="fill" class="filters-field rounded-2xl" style="flex: 1;">
            <mat-label>Contenido</mat-label>
            <mat-select formControlName="contenido">
                <mat-option value="contenido1">Contenido 1</mat-option>
                <mat-option value="contenido2">Contenido 2</mat-option>
                <mat-option value="contenido3">Contenido 3</mat-option>
            </mat-select>
            <mat-error *ngIf="horizontalStepperForm.get('newFields.contenido')?.hasError('required')">
                Este campo es obligatorio
            </mat-error>
        </mat-form-field>
    </form> -->

        <div class="max-w-3x">
            <!-- Horizontal stepper -->
            <form class="bg-transparent overflow-hidden rounded p-4" [formGroup]="horizontalStepperForm">
                <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Fecha de diligenciamiento</ng-template>
                        <div class="flex">
                            <mat-form-field class="flex-auto" appearance="fill">
                                <input matInput formControlName="fechaDiligenciamiento"
                                    [placeholder]="fechaDiligenciamiento" [(ngModel)]="fechaDiligenciamiento"
                                    [value]="fechaDiligenciamiento" readonly />
                                <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="gt-xs:flex-row flex flex-col">
                            <mat-form-field class="gt-xs:pr-3 flex-auto w-full" appearance="fill">
                                <input matInput placeholder="Nombre de la entidad" formControlName="entityCgr"
                                    type="text" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto w-full" appearance="fill">
                                <input matInput placeholder="Nombre de la dependencia"
                                    formControlName="nombreDependenciaArea" type="text" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:language'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step2'" [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Fuente (Proponente)</ng-template>
                        <p class="my-6 font-medium">
                            Por favor, proporciona la información de contacto del proponente.
                        </p>
                        <div class="gt-xs:flex-row flex flex-col">
                            <mat-form-field class="gt-xs:pr-3 flex-auto w-full" appearance="fill">
                                <input matInput [formControlName]="'nombre'" placeholder="Nombre" type="text"
                                    maxlength="50" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="gt-xs:pl-3 flex-auto w-full" appearance="fill">
                                <input matInput [formControlName]="'cargo'" placeholder="Cargo" type="text"
                                    maxlength="50" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto w-full" appearance="fill">
                                <input matInput [formControlName]="'correo'" placeholder="Correo electrónico"
                                    type="email" />
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto w-full" appearance="fill">
                                <input matInput [formControlName]="'contacto'" placeholder="Contacto" type="number"
                                    maxlength="10" />
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Trámite registro</ng-template>
                        <p class="my-6 font-medium">
                            Por favor, complete los detalles de la buena práctica.
                        </p>
                        <div class="gt-sm:flex-row flex flex-col">
                            <div class="flex flex-col">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Tipo de estrategia de identificación</mat-label>
                                    <mat-select formControlName="typeStrategyIdentification">
                                        <mat-option *ngFor="let option of typeStrategyOptions" [value]="option.id">
                                            {{ option.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Tipo de práctica</mat-label>
                                    <mat-select formControlName="typePractice">
                                        <mat-option *ngFor="let option of typePracticeOptions" [value]="option.id">
                                            {{ option.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="flex-auto">
                                <mat-label>Código de la práctica</mat-label>
                                <input matInput formControlName="codigoPractica" readonly />
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                                <mat-label>Tipología</mat-label>
                                <mat-select formControlName="typology">
                                    <mat-option *ngFor="let option of typologyOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                                <mat-label>Estado Flujo</mat-label>
                                <mat-select formControlName="estadoFlujo">
                                    <mat-option value="Candidata">Buena Practica Candidata</mat-option>
                                    <mat-option value="validación">“Buena práctica en validación</mat-option>
                                    <mat-option value="Caracterización">Buena práctica en caracterización</mat-option>
                                    <mat-option value="Evaluación">Buena Práctica en Evaluación</mat-option>
                                    <mat-option value="Establecida">Buena práctica establecida</mat-option>
                                    <mat-option value="Descartada">Buena práctica Descartada</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Nivel de Buena Práctica</mat-label>
                                <mat-select formControlName="levelGoodPractice">
                                    <mat-option *ngFor="let option of levelGoodPracticeOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Nombre descriptivo de la buena práctica</mat-label>
                                <input matInput formControlName="nombreDescriptivoBuenaPractica" maxlength="100" />
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Propósito de la práctica</mat-label>
                                <textarea matInput formControlName="propositoPractica" maxlength="300"
                                    rows="3"></textarea>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Objetivo principal de la práctica</mat-label>
                                <mat-select formControlName="objectiveMainPractice">
                                    <mat-option *ngFor="let option of objectiveMainPracticeOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mt-8 flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>
                    <mat-step [formGroupName]="'step4'" [stepControl]="horizontalStepperForm.get('step4')">
                        <ng-template matStepLabel>Caracterización</ng-template>
                        <p class="my-6 font-medium">
                            Por favor, complete los datos de la Caracterización.
                        </p>
                        <div class="gt-sm:flex-row flex flex-col">
                            <mat-form-field class="flex-auto">
                                <mat-label>Impacto esperado</mat-label>
                                <mat-select
                                    formControlName="expectedImpact"
                                    multiple
                                    (selectionChange)="onExpectedImpactChange()">
                                    <mat-option *ngFor="let option of expectedImpactOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                                <mat-label>Metodología usada</mat-label>
                                <textarea matInput formControlName="metodologiaUsada" rows="5" maxlength="500"
                                    placeholder="Describe brevemente la metodología usada (máx. 500 caracteres)"></textarea>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Duración de la implementación</mat-label>
                                <mat-select formControlName="durationImplementation">
                                    <mat-option *ngFor="let duration of durationImplementationOptions"
                                        [value]="duration.id">
                                        {{ duration.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Etapas de metodología</mat-label>
                                <mat-select formControlName="stagesMethodology" multiple>
                                    <mat-option *ngFor="let stage of stagesMethodologyOptions" [value]="stage.id">
                                        {{ stage.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="flex flex-col gap-4">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Inicio</mat-label>
                                    <input matInput [matDatepicker]="inicioPicker"
                                        formControlName="periodoDesarrolloInicio"
                                        (dateChange)="onDateChange($event, 'step4', 'periodoDesarrolloInicio')" />
                                    <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #inicioPicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="flex-auto">
                                    <mat-label>Fin</mat-label>
                                    <input matInput [matDatepicker]="finPicker" formControlName="periodoDesarrolloFin"
                                        (dateChange)="onDateChange($event, 'step4', 'periodoDesarrolloFin')" />
                                    <mat-datepicker-toggle matSuffix [for]="finPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #finPicker></mat-datepicker>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="mt-8 flex justify-end">
                            <button class="mr-2 px-8" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>


                    <mat-step [formGroupName]="'step5'" [stepControl]="horizontalStepperForm.get('step4')">
                        <ng-template matStepLabel>Gestión</ng-template>
                        <p class="my-6 font-medium">
                            Por favor, complete los datos de la Gestión.
                        </p>
                        <div class="gt-sm:flex-row flex flex-col">
                            <mat-form-field class="flex-auto">
                                <mat-label>Tipo de material producido</mat-label>
                                <mat-select formControlName="typeMaterialProduced" multiple>
                                    <mat-option *ngFor="let option of typeMaterialProducedOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Apoyo recibido</mat-label>
                                <mat-select formControlName="supportReceived" multiple>
                                    <mat-option *ngFor="let option of supportReceivedOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Reconocimientos Nacionales o Internacionales</mat-label>
                                <mat-select formControlName="recognitionsNationalInternational">
                                    <mat-option *ngFor="let option of recognitionsNationalInternationalOptions"
                                        [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                                <mat-label>Objeto de control</mat-label>
                                <mat-select formControlName="controlObject">
                                    <mat-option *ngFor="let option of controlObjectOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Taxonomía del Evento</mat-label>
                                <mat-select formControlName="taxonomyEvent" multiple>
                                    <mat-option *ngFor="let option of taxonomyEventOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Tipo de desempeño</mat-label>
                                <mat-select formControlName="typePerformance">
                                    <mat-option *ngFor="let option of typePerformanceOptions" [value]="option.id">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto">
                                <mat-label>Descripción de resultados</mat-label>
                                <textarea matInput formControlName="descripcionResultados" rows="5"></textarea>
                            </mat-form-field>
                        </div>

                        <div class="mt-0 flex justify-end">
                            <button type="button" mat-raised-button color="primary" (click)="submitForm()"
                                class="space-buttons">
                                Enviar Formulario
                            </button>
                        </div>

                        <div *ngIf="Id !== undefined" class="mt-2 flex justify-end">
                            <button class="space-buttons yellow-color" type="button" mat-raised-button
                                (click)="openCaracterizationModal()">
                                {{ buttonText }}
                            </button>

                            <div class="mt-0 flex justify-end">
                                <button type="button" mat-raised-button class="warn-color">
                                    Desestimar Practica
                                </button>
                            </div>
                        </div>

                    </mat-step>
                    <mat-step [stepControl]="horizontalStepperForm.get('step6')">
                        <form [formGroup]="horizontalStepperForm.get('step6')">
                            <div class="file-upload-container">
                                <!-- Encabezado con título y línea -->
                                <div class="upload-header">
                                    <i class="upload-header-icon">☁️</i>
                                    <div class="upload-header-text">
                                        <h3>Seleccione archivos</h3>
                                        <p>Seleccione archivos desde su dispositivo</p>
                                    </div>
                                </div>
                                <hr />

                                <!-- Zona de carga de archivos -->
                                <div class="upload-box" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                                    <i class="upload-icon">☁️</i>
                                    <button type="button" (click)="fileInput.click()">Escoger archivos</button>
                                    <input type="file" #fileInput hidden (change)="onFilesSelected($event)"
                                        accept=".jpeg,.png,.csv,.pdf" multiple />
                                    <p>Escoja sus archivos o arrastre y suelte aquí</p>
                                    <small>JPEG, PNG, CSV y PDF menor a 50MB</small>
                                </div>
                                <!-- Lista de archivos seleccionados -->
                                <div *ngIf="selectedFiles.length > 0" class="file-info">
                                    <p><strong>Archivos seleccionados:</strong></p>
                                    <ul>
                                        <li *ngFor="let file of selectedFiles">{{ file.name }} ({{ file.size / 1024 |
                                            number: '1.0-2' }} KB)</li>
                                    </ul>
                                </div>
                                <!-- Botón Enviar Documento -->
                                <button type="button" class="submit-button" [disabled]="selectedFiles.length === 0"
                                    (click)="submitDocumentoActuacion()">
                                    Enviar Documentos
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
                <button *ngIf="!isEdit" mat-raised-button color="primary" (click)="toggleModal()">
                    Carga Automática
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal-backdrop" *ngIf="isModalOpen">
    <div class="modal-container">
        <h2>Carga Automática</h2>
        <div class="file-upload-container">
            <!-- Encabezado con título y línea -->
            <div class="upload-header">
                <i class="upload-header-icon">☁️</i>
                <div class="upload-header-text">
                    <h3>Seleccione archivos</h3>
                    <p>Seleccione archivos para realizar la carga de informacion</p>
                </div>
            </div>
            <hr />

            <!-- Zona de carga de archivos -->
            <div class="upload-box" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                <i class="upload-icon">☁️</i>
                <button type="button" (click)="fileInput.click()">Escoger archivos</button>
                <input type="file" #fileInput hidden (change)="onFilesSelected($event)" accept=".jpeg,.png,.csv,.pdf"
                    multiple />
                <p>Escoja sus archivos o arrastre y suelte aquí</p>
                <small>JPEG, PNG, CSV y PDF menor a 50MB</small>
            </div>
            <!-- Lista de archivos seleccionados -->
            <div *ngIf="selectedFiles.length > 0" class="file-info">
                <p><strong>Archivos seleccionados:</strong></p>
                <ul>
                    <li *ngFor="let file of selectedFiles">{{ file.name }} ({{ file.size / 1024 | number: '1.0-2' }} KB)
                    </li>
                </ul>
            </div>
            <!-- Botón Enviar Documento -->
            <button type="button" class="submit-button" [disabled]="!formData || !id"
                (click)="submitDocumentoActuacion()">
                Enviar Documentos
            </button>
        </div>
        <div class="modal-actions">
            <button style="background: #f0ba41; color: #fff;" mat-raised-button
                (click)="toggleModal()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="toggleModal()">Aceptar</button>
        </div>
    </div>
</div>

<mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item>
        <mat-icon class="internos">account_circle</mat-icon>
        <span class="internos">Usuarios Prueba</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">supervisor_account</mat-icon>
        <span class="internos">Roles y permisos</span>
    </button>
    <button mat-menu-item [routerLink]="'/options/characterization'">
        <mat-icon class="internos">settings</mat-icon>
        <span class="internos">Criterios de caracterización</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">list</mat-icon>
        <span class="internos">Criterios por catalogar</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">check_circle</mat-icon>
        <span class="internos">Criterios de evaluación</span>
    </button>
    <button mat-menu-item>
        <mat-icon class="internos">visibility</mat-icon>
        <span class="internos">Criterios de seguimiento</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrows-up-down" class="internos"></mat-icon>
        <span class="internos">Criterios de publicación</span>
    </button>
    <button mat-menu-item>
        <mat-icon svgIcon="heroicons_outline:arrow-trending-up" class="internos"></mat-icon>
        <span class="internos">Workflow</span>
    </button>
</mat-menu>