<!-- User Toggle -->
<button [matMenuTriggerFor]="userActions"
    class="overflow-hidden w-full h-full p-1 m-1 flex items-center justify-center rounded-full hover:bg-gray-200 transition-shadow duration-200"
    style="margin-right: 60px;">
    <span class="flex flex-row m-1 items-center justify-center w-full h-auto">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'" style="margin-right: 0.5em;"></mat-icon>
        <div style="margin-right: 2.0em;">
            <p style="font-size: 12px; margin: 0;">{{ user?.fullName || 'Usuario' }}</p>
            <p style="font-size: 10px; font-weight: bold; margin: 0;">{{ formatCharge(user?.cargo) }}</p>
        </div>
    </span>
</button>
 
<!-- Menú principal -->
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <span
        class="flex flex-col px-3 text-gray-700 dark:text-gray-200 leading-tight">
        <div *ngIf="userRoles.length > 0" class="flex flex-col space-y-2">
            <span class="text-sm font-semibold text-gray-500">Roles
                asignados:</span>
            <div *ngFor="let role of userRoles"
                class="flex items-center space-x-2">
                <mat-icon class="text-gray-500"
                    [svgIcon]="'heroicons_outline:information-circle'"></mat-icon>
                <span
                    class="text-sm font-medium text-gray-800 dark:text-white">{{
                    role.name }}</span>
            </div>
        </div>
        <span *ngIf="userRoles.length === 0"
            class="text-sm font-semibold text-gray-500">Sin roles
            asignados</span>
    </span>
 
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="goToSettings()">
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Settings</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon
            [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>