<!-- User Toggle -->
<button [matMenuTriggerFor]="userActions" matTooltip="Opciones" matTooltipPosition="above"
    class="overflow-hidden w-full h-full p-1 m-1 flex items-center justify-center rounded-full hover:bg-gray-200 transition-shadow duration-200"
    style="margin-right: 60px;">
    <span class="flex flex-row m-1 items-center justify-center w-full h-auto">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'" style="margin-right: 0.5em;"></mat-icon>
        <div style="margin-right: 2.0em;">
            <p style="font-size: 12px; margin: 0;">{{ user?.fullName || 'Usuario' }}</p>
            <p style="font-size: 10px; font-weight: bold; margin: 0;">{{ formatCharge(user?.cargo) }}</p>
        </div>
    </span>
</button>

<!-- Menú principal -->
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <mat-divider class="my-2" *ngIf="user?.cargo?.toLowerCase() !== 'registro'"></mat-divider>
    <button mat-menu-item (click)="goToProfile()" *ngIf="user?.cargo?.toLowerCase() !== 'registro'">
        <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
        <span>Perfil</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="goToSettings()">
        <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
        <span>Ajustes</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
        <span>Salir</span>
    </button>
</mat-menu>