<div class="bg-card relative flex items-center justify-start px-4 py-2 w-full max-w-lg">
    <!-- Input de búsqueda -->
    <input
        class="h-12 w-[400px] px-4 text-lg rounded-lg"
        [formControl]="searchControl"
        [matAutocomplete]="matAutocomplete"
        [placeholder]="'Search...'"
        (keydown)="onKeydown($event)"
    />

    <!-- Botón de búsqueda avanzada -->
    <button mat-icon-button aria-label="Advanced search" (click)="openAdvancedSearch()">
        <mat-icon>filter_list</mat-icon>
    </button>



    <!-- Resultados del autocomplete -->
    <mat-autocomplete
        class="max-h-128 rounded-b border-t shadow-md sm:px-2"
        [autoSelectActiveOption]="true"
        [disableRipple]="true"
        #matAutocomplete="matAutocomplete"
    >
        <mat-option *ngIf="!resultSets?.length">
            No results found!
        </mat-option>
        <ng-container *ngFor="let resultSet of resultSets">
            <mat-optgroup [label]="resultSet.label.toUpperCase()">
                <mat-option
                    *ngFor="let result of resultSet.results"
                    [value]="result.value"
                    [routerLink]="result.link"
                >
                    {{ result.title }}
                </mat-option>
            </mat-optgroup>
        </ng-container>
    </mat-autocomplete>
</div>
