<div class="container">
    <h1>Comité</h1>

    <!-- Tarjeta con la información -->
    <div class="card" *ngIf="committeeData && committeeData.userId; else noData" 
         [ngStyle]="{'border-left': '5px solid blue', 'padding': '20px', 'border-radius': '10px', 'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)'}">
        
        <h2>Información del Evaluador</h2>
        
        <!-- Datos del usuario -->
        <div class="user-info">
            <p><strong>Nombre de Usuario:</strong> {{ committeeData.userId.userName }}</p>
            <p><strong>Email:</strong> {{ committeeData.userId.email }}</p>
            <p><strong>Cargo:</strong> {{ committeeData.userId.cargo }}</p>
        </div>
        <!-- Datos adicionales en un nuevo cuadro -->
        <div class="additional-info">
            <p><strong>Estado de Flujo:</strong> {{ committeeData.estadoFlujo }}</p>
            <p><strong>Código de la Práctica:</strong> {{ committeeData.codigoPractica }}</p>
        </div>
        <!-- Botón para expandir respuestas -->
        <button (click)="toggleAnswers()" mat-icon-button>
            <mat-icon>{{ showAnswers ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>

        <!-- Contenedor con scroll para las respuestas -->
        <div *ngIf="showAnswers" class="scroll-container">
            <h3>Formulario: {{ committeeData.formEntity.formName }}</h3>

            <div *ngFor="let question of committeeData.formEntity.questions" class="question-card">
                <h4>{{ question.id }}. {{ question.enunciado }}</h4>
                <p *ngIf="question.answer">
                    Respuesta Seleccionada: 
                    <strong>{{ question.answer.respuesta ? question.answer.respuesta : 'No hay respuesta seleccionada' }}</strong>
                </p>
                <p>Comentario: <strong>{{ question.comentario }}</strong></p>
            </div>
        </div>
    </div>

    <ng-template #noData>
        <p>No hay datos disponibles</p>
    </ng-template>
</div>