<div id="perfil">
  <!-- Capa del Perfil -->
  <div class="header-container">
    <div class="header">
      <img src="images/logo/logoPerfil.svg" />
    </div>
  </div>

  <!-- Avatar del Usuario -->
  <div class="avatar" [ngStyle]="usuario.imagenUrl ? {'background-image': 'url(' + usuario.imagenUrl + ')'} : {}">
    <label for="file-upload" class="btn-upload">
      <mat-icon svgIcon="heroicons_outline:camera" style="color: white"></mat-icon>
    </label>
    <input type="file" id="file-upload" accept="image/*" hidden (change)="cargarImagen($event)" />
  </div>
  
  <h1>Datos del perfil</h1>

  <div class="info-container">
    <div class="info-box">
      <span class="label">Nombres</span>
      <span class="value">Daniela</span>
    </div>
    <div class="info-box">
      <span class="label">Nombre de usuario</span>
      <span class="value">dani.cardoso</span>
    </div>
    <div class="info-box">
      <span class="label">Cargo</span>
      <span class="value">Analista CGR</span>
    </div>
  </div>

</div>